@import 'globals';

@import url('https://fonts.googleapis.com/css?family=Questrial|Roboto');

@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
        & {
            font-size: $min-font-size;

            @media screen and (min-width: $min-vw) {
                font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
            }

            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size;
            }
        }
    }
}

$mobile_mod: 1.2; // mobile
$desktop_mod: 1.5; // desktop

$min_font: 14px;
$max_font: 20px;

h1 {
    font-size: $mobile_mod*$mobile_mod*$mobile_mod*$mobile_mod *1rem;
    @include fluid-type($min-screen-width, $max-screen-width, $mobile_mod*$mobile_mod*$mobile_mod *$min_font, $desktop_mod*$desktop_mod*$desktop_mod *$min_font);
}

h2 {
    font-size: $mobile_mod*$mobile_mod*$mobile_mod *1rem;
    @include fluid-type($min-screen-width, $max-screen-width, $mobile_mod*$mobile_mod*$mobile_mod *$min_font, $desktop_mod*$desktop_mod*$desktop_mod *$min_font);
}

h3 {
    font-size: $mobile_mod*$mobile_mod *1rem;
    @include fluid-type($min-screen-width, $max-screen-width, $mobile_mod*$mobile_mod *$min_font, $desktop_mod*$desktop_mod *$min_font);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Questrial', sans-serif;

    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);

    &.hug {
        margin-top: 0;
    }
}

html {
    @include fluid-type($min-screen-width, $max-screen-width, $min_font, $max_font);
}

html,
body {
    font-family: 'Open Sans', sans-serif;
}